* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* Variables */
:root {
  --font-1: "Poppins";
  --font-2: "Lobster";

  --blanco: #fcfcfc;
  --negro: #202020;
  --gris: #404040;

  --color-1: #d7ffa3;
  --color-2: #b8f5f0;
  --color-3: #29a748;
  --color-4: #2f7a63;

  --selection-background: #124122;
  --selection-color: var(--blanco);
}

/* Color de texto y fondo cuando se selecciona texto en la página */
/* Codigo para Firefox */
::-moz-selection {
  background: var(--selection-background);
  color: var(--selection-color);
}

/* Color de texto y fondo cuando se selecciona texto en la página */
::selection {
  background: var(--selection-background);
  color: var(--selection-color);
}

/* La propiedad scroll-behavior especifica si animar suavemente la posición de desplazamiento, en lugar de un salto directo, cuando el usuario hace clic en un enlace dentro de un cuadro desplazable */
html {
  scroll-behavior: smooth;
}

/* Estilo de la barra de scroll para que no sea la que viene por defecto con el navegador */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #303030;
}

::-webkit-scrollbar-thumb {
  background: #707070;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

/* Body */
body {
  font-family: var(--font-1), sans-serif; /* fuente 1*/
  font-size: 1.1rem;
  background-color: var(--negro);
  color: var(--blanco);
}

/* Header */
header {
  position: relative;
  min-height: 50vh;
  padding: 60px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header img {
  background-color: var(--negro);
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Fondo transparente del texto del header */
header .marco-texto {
  z-index: 20;
  background-color: rgba(10, 100, 120, 0.8);
  padding: 20px 0;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
}

/* "TRANKI" */
header .nombre {
  color: var(--blanco);
  font-size: 4rem;
  font-weight: bold;
}

/* "Hoy cocino yo!" */
header .frase {
  font-family: var(--font-2), var(--font-1), sans-serif; /* fuente 2 */
  color: var(--color-1);
  font-size: 3rem;
}

/* Barra de navegación */
nav {
  position: sticky;
  top: -1px;
  z-index: 100;
  padding: 5px 20px;
  background-color: var(--color-4);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
}

/* Todos los <a> en general sin subrayado y blancos */
a {
  text-decoration: none;
  color: var(--blanco);
}

a:hover {
  text-decoration: none;
  color: var(--blanco);
}

/* Logo en nav*/
.logo-nav {
  font-size: 1.1rem;
  margin-right: auto;
}

.logo-nav a {
  padding: 2px 5px;
  border-radius: 5px;
}

.logo-nav a:hover {
  color: var(--color-1);
}

/* los <a> de la barra de navegación (no el logo) */
nav .nav-enlaces a {
  display: inline-block;
  padding: 6px 5px 0 5px;
  border-radius: 5px;
}

nav .nav-enlaces a:hover {
  background-color: var(--gris);
}

/* Main */
/* Estilos generales de <section>, <article>, <h1>, etc */
section {
  width: 100%;
  padding: 60px 30px;
}

article {
  width: 100%;
}

h1, h2 {
  font-family: var(--font-2), var(--font-1), sans-serif;
  font-size: 2.8rem;
  margin-bottom: 35px;
  font-weight: 100; /* los h2 están por defecto en negrita (bold) pero con esta fuente queda medio mal, con font-weight:100 ya no están en negrita */
}

h2 {
  font-size: 2.4rem;
}

h3, h4, h5, h6 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 25px;
}

p:last-child {
  margin-bottom: 0;
}

.limite-ancho-01 {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.fondo-1 {
  background-color: var(--color-1);
  color: var(--negro);
}

.fondo-2 {
  background-color: var(--color-2);
  color: var(--negro);
}

.fondo-3 {
  background-color: var(--color-3);
  color: var(--blanco);
}

.fondo-4 {
  background-color: var(--color-4);
  color: var(--blanco);
}

.fondo-negro {
  background-color: var(--negro);
  color: var(--color-1);
}

/* Estilos específicos */

/* Banners */
.banners {
  margin: 0;
  padding: 0;
}

#carouselBanners {
  width: 100%;
  margin: 0;
  padding: 0;
}

.articulo-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 300px;
  padding: 20px 10px;
}

.articulo-banner > h3:last-child {
  margin-bottom: 0;
}

/* Recetas destacadas */

.enlace-rec-mi-foto {
  padding: 0 5px;
  border-radius: 5px;
  margin-left: -5px;
}

.enlace-rec-mi-foto:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.no-separar {
  display: inline-block;
}

/* Flex con las cards */
.recetas-destacadas-flex {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 40px auto 0 auto;
}

/* Cards */
.card-receta {
  width: 100%;
  max-width: 280px;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: 0 2px 15px var(--negro);
}

.card-receta:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 25px 3px var(--negro);
}

.card-receta img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  border-bottom: 3px solid var(--color-2);
}

.card-receta .contenedor-texto {
  padding: 10px;
  height: fit-content;
}

.card-receta .contenedor-texto h4 {
  color: var(--color-1);
}

/* Carousel de fotos en 'Mi foto' */
#carouselFoto {
  margin-top: 40px;
}

#carouselFoto img {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.mi-foto-boton {
  display: block;
  width: fit-content;
  margin: 40px auto 0 auto;
}

.pag-subi-tu-foto > h1,
.pag-subi-tu-foto > p {
  text-align: center;
}

/* Formulario 'Subí tu foto' */ 
.formulario1 {
  width: 400px;
  padding: 30px;
  background: var(--color-4);
  margin: auto;
  margin-top: 40px;
  border-radius: 4px;
}

.form2 {
  width: 100%;
  background-color: var(--negro);
  padding: 13px;
  border-radius: 4px;
  margin-bottom: 5px;
  border-color: #a0a0a0;
  box-shadow: 10px;
  font-size: 14px;
  color: var(--blanco);
  outline: none;
}

.formulario1 .term-y-cond {
  font-size: 1rem;
  margin-top: 15px;
}

.formulario1 .term-y-cond a:hover {
  color: var(--color-1)
}

.formulario1 .boton {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  border-color: var(--color-3);
  background-color: var(--color-1);
  color: var(--negro);
  margin-top: 30px;
}

/* Footer */
footer {
  background-color: var(--gris);
  color: var(--blanco);
  padding: 60px 30px;
  font-size: 1rem;
}

.footer-info-pagina {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;
}

.footer-texto {
  flex: 0 1 250px;
  text-align: center;
}

.footer-texto p {
  margin: 0;
  padding: 4px;
}

.footer-enlaces {
  flex: 0 1 250px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.footer-enlaces a {
  height: fit-content;
  padding: 4px;
  font-size: 1.2rem;
}

.footer-enlaces a:hover {
  color: var(--color-3);
}

/* Info del grupo (dentro del footer) */
.info-grupo-2 {
  color: var(--color-2);
  border: 2px solid var(--color-2);
  max-width: 900px;
  margin: 0 auto ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 20px;
  row-gap: 35px;
  padding: 40px 10px;
  font-size: 0.8rem;
}

/* estos son los div que son hijos (descendientes directos) de .info-grupo-2 */
/* info del curso, grupo y repositorio */
.info-grupo-2 > div {
  flex: 0 0 140px;
  text-align: center;
}

/* estos son todos los hijos (descendientes directos) ( > * ) de los div que son hijos ( > div ) de .info-grupo-2 */ 
/* osea, los <p>, la <ul> y el <a> que están el los div que estan en .info-grupo-2 */
.info-grupo-2 > div > * {
  margin-top: 0;
  margin-bottom: 8px;
}

.info-grupo-2 > div > *:last-child {
  margin-bottom: 0;
}

.info-grupo-2 a {
  color: var(--color-2);
  height: fit-content;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.info-grupo-2 a:hover {
  background-color: var(--color-2);
  color: var(--gris);
}

/* Media queries (break points o puntos de quiebre ) */

/*Para pantallas de 900px o menos de ancho */
@media screen and (max-width: 900px) {
  .limite-ancho-01 {
    max-width: 600px;
  }
  .recetas-destacadas-flex {
    column-gap: 25px;
  }
  .card-receta {
    max-width: 250px;
  }
  #carouselFoto img {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 430px;
    object-fit: contain;
  }
}

/*Para pantallas de 600px o menos de ancho */
@media screen and (max-width: 600px) {
  nav {
    padding: 5px 15px 3px 15px;
    justify-content: center;
  }
  section {
    padding: 60px 25px;
  }
  .limite-ancho-01 {
    max-width: 500px;
  }
  .articulo-banner {
    height: 330px;
  }
  .recetas-destacadas-flex {
    column-gap: 15px;
  }
  .card-receta {
    width: calc((100% - 30px) / 2);
    min-width: 180px;
  }
  #carouselFoto img {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}

/*Para pantallas de 470px o menos de ancho */
@media screen and (max-width: 470px) {
  nav {
    padding: 5px 5px 3px 5px;
  }
  nav .nav-enlaces a {
    padding: 6px 2px 0 2px;
  }
  section {
    padding: 60px 20px;
  }
  .articulo-banner {
    height: 360px;
  }
  .card-receta {
    width: 100%;
    max-width: 340px;
  }
  footer {
    padding: 60px 20px;
  }
}
